[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-wtf = "*"
flask-cors = "*"
webargs = "*"

[requires]
python_version = "3.6"